=form_for @user do |f|
  .form-group
    =f.label :full_name
    =f.text_field :full_name, class: 'form-control', required: true, autofocus: true, autocomplete: 'new-password'

  .form-group
    =f.label :email
    =f.email_field :email, class: 'form-control', required: true

  .form-group
    =f.label :gov_id
    =f.text_field :gov_id, class: 'form-control', required: true, autocomplete: 'new-password'

  .form-group
    =f.label :role_id
    =f.select :role_id, @roles.map {|r| [r.title, r.id]}, {include_blank: "Selecione um Papel/Cargo/Função para este usuário"}, class: 'form-control', required: true

  .form-group
    =f.label :school_id
    =f.select :school_id, @schools.map {|s| ["#{s.code} - #{s.name}", s.id]}, {include_blank: "Selecione uma Instituição de Ensino caso seja usuário PROFESSOR, ALUNO ou COORDENADOR"}, class: 'form-control', required: true

  .form-group
    =f.label :password
    =f.password_field :password, class: 'form-control', required: true, autocomplete: 'new-password', value: @user.password
    -if @minimum_password_length
      br
      em="#{t('descriptions.min_password_length')}: #{@minimum_password_length }"

    =f.hidden_field :locale, value: session[:locale] || 'pt-br'

  .form-group
    =f.label :password_confirmation
    =f.password_field :password_confirmation, class: 'form-control', required: true, autocomplete: 'new-password', value: @user.password
  .footer.text-center
  =f.submit t('actions.devise.new.button.third_register'), class: 'btn btn-fill btn-info btn-wd'